<h1>Editing Retailer</h1>

<%= render 'form', retailer: @retailer %>

<div>
    <%= render 'timestamps', model: @retailer -%>
</div>

<%= link_to 'Show', manage_retailer_path(@retailer) %> |
<%= link_to 'Back', manage_retailers_path %>
