<%-
    @page_title = "Retailers"
-%>

<div class="row">
    <div class="col-12">
        <p id="notice"><%= notice %></p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <%= link_to 'New Retailer', new_manage_retailer_path, class: 'btn btn-primary active',  role:"button", aria: {pressed:"true"} %>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <%= render 'retailers', retailers:@retailers.select{|r| r.is_active?}, list_caption: 'Active Retailers'-%>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <%= render 'retailers', retailers:@retailers.select{|r| !r.is_active?}, show_status_column: true, list_caption: 'Inactive Retailers' -%>
    </div>
</div>



