
    <p><strong>Created On</strong>:<%= model.created_at.strftime('%a, %b %d, %y at %I:%M%P') %> | 
    <strong>Last Updated On</strong>: <%= model.updated_at.strftime('%a, %b %d, %y at %I:%M%P') %></p>